<div class="col-md-3 column-main" style="">
    <div class="panel panel-default">
        <div class="panel-heading">Toolbox</div>
        <!--
        <div class="panel-body">
            
        </div>
        -->
        <div><div class="panel panel-default">
                <div class="panel-body" style="text-align: center;">
                    <div class="btn-group" style="margin: 0 auto;">
                        <a href="/touchline" class="btn btn-primary btn-xs active">TouchLine</a>
                        <a href="/touchline/mustdo" class="btn btn-primary btn-xs">MustDo!</a>
                        <a href="/touchline/search" class="btn btn-primary btn-xs">Search</a>
                    </div>          
                </div>                       
            </div>
            <br>
            <br>
            <div id="Z_chat-toolbox">
                <div style="display: block; width:100%">        
                    <span class="h4">Customers</span><br>
                    <p><!--<div class="chat-user-container">
                    <img src="/img/layout/mam.jpg" id="-user-picture" class="chat-user-online" alt="MaM" alt="MaM">
                <br><span style="color: black;">ALL</span>
                
            </div>-->
                    </p><div class="chat-user-container tooltip" alt="Mr Robert Mohar">

                        <img src="/img/layout/anonym.png" id="1377-user-picture" class="chat-user-away" alt="Mohar">                <br>
                        <span style="color: black;">Mohar</span>


                    </div>
                    <div class="chat-user-container tooltip" alt="Mr Seth Galentine">

                        <img src="http://a.steelemotion.com/picture/person/bivxn2hn2kyxxlyl112517/x/SETH.jpg" id="1620-user-picture" class="chat-user-away">
                        <br>
                        <span style="color: black;">Seth</span>


                    </div>
                    <div class="chat-user-container tooltip" alt="Mrs Sharon Spurrier">

                        <img src="http://a.steelemotion.com/picture/person/zf78r95kgb5wos3n112512/x/DONM.jpg" id="1466-user-picture" class="chat-user-offline">
                        <br>
                        <span style="color: black;">steeltrading</span>


                    </div>
                    <p></p>
                </div>
                <hr>
                <div style="display: block; width:100%;">
                    <span class="h4">Steelemotioners</span>
                    <div><p>

                        </p><div class="chat-user-container">
                            <img src="/img/layout/mam.jpg" id="-user-picture" class="chat-user-online" alt="MaM">
                            <br><span style="color: black;">ALL</span>

                        </div>
                        <div class="chat-user-container">    
                            <div class="chat-user-container">

                                <img src="http://a.steelemotion.com/picture/person/iu7mrvs1h0zo0a9f113955/x/Dasha.jpg" id="1685-user-picture" class="chat-user-offline">
                                <br>
                                <span style="color: red;">Dasha</span>


                            </div>
                            <div class="chat-user-container">

                                <img src="http://a.steelemotion.com/picture/person/81mrlcbxmuczjgnh114805/x/Dragan.jpg" id="1704-user-picture" class="chat-user-offline">
                                <br>
                                <span style="color: ;">Dragan</span>


                            </div>
                            <div class="chat-user-container">

                                <img src="http://a.steelemotion.com/picture/person/oivnrhdkahqmasgm111050/x/GD_icon.jpg" id="1677-user-picture" class="chat-user-online">
                                <br>
                                <span style="color: #572b9e;">Giada</span>


                            </div>
                            <div class="chat-user-container">

                                <img src="http://a.steelemotion.com/picture/person/i9fjgzcqpwjbdxkl62057/x/IrinaK.jpg" id="1457-user-picture" class="chat-user-online">
                                <br>
                                <span style="color: #E01B6A;">Irina</span>


                            </div>
                            <div class="chat-user-container">

                                <img src="http://a.steelemotion.com/picture/person/tusbzxn4agzh9uhq61012/x/Capitol_Smile.jpg" id="20-user-picture" class="chat-user-offline">
                                <br>
                                <span style="color: Purple;">J</span>


                            </div>
                            <div class="chat-user-container">

                                <img src="http://a.steelemotion.com/picture/person/ac8dqxsyrrlnu17k105820/x/LOLA.jpg" id="1660-user-picture" class="chat-user-offline">
                                <br>
                                <span style="color: red;">Lola</span>


                            </div>
                            <div class="chat-user-container">

                                <img src="http://a.steelemotion.com/picture/person/n6gagrp9v3twuzaj102261/x/ms_icon_TL.jpg" id="14-user-picture" class="chat-user-online">
                                <br>
                                <span style="color: Blue;">Miki</span>


                            </div>
                            <div class="chat-user-container">

                                <img src="http://a.steelemotion.com/picture/person/vpgj2c1jvo0elsh8113954/x/NT.jpg" id="1701-user-picture" class="chat-user-offline">
                                <br>
                                <span style="color: #6f0a78;">Nadya</span>


                            </div>
                            <div class="chat-user-container">

                                <img src="http://a.steelemotion.com/picture/person/378qo68zhdrd804i112342/x/SanyaIcon.jpg" id="1634-user-picture" class="chat-user-offline">
                                <br>
                                <span style="color: darkcyan;">Sanya</span>


                            </div>
                            <div class="chat-user-container">

                                <img src="http://a.steelemotion.com/picture/person/ocgrd83ir4979zl6112597/x/SU21.jpg" id="1682-user-picture" class="chat-user-online">
                                <br>
                                <span style="color: #015673;">Serge</span>


                            </div>
                            <div class="chat-user-container">

                                <img src="http://a.steelemotion.com/picture/person/me6k3vmz7wj7ubb4107590/x/SG3.jpg" id="1671-user-picture" class="chat-user-online">
                                <br>
                                <span style="color: #5c9614;">Sergey</span>


                            </div>
                            <div class="chat-user-container">

                                <img src="http://a.steelemotion.com/picture/person/d1a2lvfby7nj6me261722/x/to_ico.jpg" id="5-user-picture" class="chat-user-online">
                                <br>
                                <span style="color: DarkRed;">Tanya</span>


                            </div>
                        </div>    




                        <p></p></div>
                </div>        
                <hr> 
                <div style="display: block; width:100%;">
                    <span>View by Date</span>
                    <div class="chat-archive-dateto" data-date=""></div>
                </div>
                <input type="hidden" id="chat-object-alias" value="">
                <input type="hidden" id="chat-object-id" value="0">    
            </div></div>
    </div>
    <!--<p><button class="btn btn-default btn-xs">Hide panel</button></p>-->                  
</div>